---
title: Problèmes liés à la configuration de la vérification en deux étapes
translationKey: issuesSettingUp2FaFR
layout: 'layouts/base.njk'
eleventyNavigation:
   key: issuesSettingUp2FaFR
   title: Problèmes liés à la configuration de la vérification en deux étapes
   locale: fr
   order: 2
   parent: troubleSigningUpFR
   hideMain: true
---

# Problèmes liés à la configuration de la vérification en deux étapes

- {% link '#un-message-indique-que-votre-numero-de-telephone-est-invalide' 'Un message indique que votre numéro de téléphone est invalide' %}
- {% link '#vous-navez-pas-recu-de-code-a-usage-unique-sur-votre-telephone' 'Vous n’avez pas reçu de code à usage unique sur votre téléphone' %}
- {% link '#un-message-indique-que-le-code-est-invalide' 'Un message indique que le code est invalide' %}

## Problèmes liés à l’enregistrement de la vérification par message texte / appel vocal
    
### Un message indique que votre numéro de téléphone est invalide
  
Si vous recevez un message d’erreur indiquant que votre numéro de téléphone est invalide, essayez les étapes de dépannage suivantes :

#### 1. Vérifiez que votre numéro de téléphone est correct
   - Assurez-vous d’avoir entré le bon numéro, sans faute de frappe ni chiffre manquant.
   - Assurez-vous d’avoir sélectionné le bon indicatif dans la liste déroulante (p. ex. : +1 pour le Canada et les États-Unis).
                   
#### 2. Vérifiez que votre numéro de téléphone fonctionne
   - Vérifiez que le numéro de téléphone est actif et qu’il peut recevoir des SMS ou des appels vocaux.
               
#### 3. Vérifiez que votre numéro de téléphone est pris en charge
   - En raison de limitations techniques, notre service ne prend actuellement en charge que les numéros de téléphone des pays figurant sur cette liste : {% link links.supportedcountriesFR 'Numéros de téléphone internationaux pris en charge'%}.
   - Si votre numéro de téléphone correspond à un pays n’apparaissant pas dans la liste, vous ne pouvez pas vous connecter à l’aide de la vérification par message texte ou par appel vocal. Vous ne serez pas en mesure de créer un compte Connexion GC à l’heure actuelle et devrez attendre que d’autres méthodes de vérification soient ajoutées.

 #### 4. Essayez d’utiliser un autre numéro de téléphone si cela est possible

#### 5. Contactez l’équipe de soutien
   
   - Si aucune de ces solutions ne fonctionne, {% link links.contactFR 'contactez l’équipe de soutien à la clientèle' %} en lui indiquant quel est votre problème et quelles solutions vous avez déjà essayées.
                     
### Vous n’avez pas reçu de code à usage unique sur votre téléphone
             
Si vous n’avez pas reçu votre code de vérification Connexion GC par message texte (SMS) ou appel vocal, essayez ces étapes de dépannage :

#### 1. Vérifiez votre numéro de téléphone
   - Assurez-vous d’avoir entré le bon numéro, sans faute de frappe ni chiffre manquant.
   - Assurez-vous d’avoir sélectionné le bon indicatif dans la liste déroulante (p. ex. : +1 pour le Canada et les États-Unis).
   
#### 2. Vérifiez votre accès au réseau mobile
   - Vérifiez que vous avez accès au réseau mobile ou déplacez-vous.
   - Redémarrez votre téléphone pour actualiser la connexion au réseau.

#### 3. Vérifiez vos paramètres pour les messages ou appels
   - Vérifiez les paramètres de votre téléphone pour voir si les messages ou les appels provenant de numéros inconnus sont bloqués. Consultez le contenu d’aide du fabricant de votre téléphone pour savoir comment procéder.
   - Consultez vos dossiers de pourriels ou de messages filtrés.
   
#### 4. Attendez quelques minutes et réessayez
   - Le réseau peut connaître des retard de transmission. Si vous avez demandé plusieurs codes, utilisez le code le plus récent.
   - Si le message ou appel ne vous parvient pas, demandez un nouveau code en cliquant sur « Demander un nouveau code » sous « Des problèmes avec votre code? ». Il se peut que vous deviez attendre quelques secondes avant que le lien permettant de demander un nouveau code apparaisse.
                                       
#### 5. Contactez l’équipe de soutien
   - Si aucune de ces solutions ne fonctionne, {% link links.contactFR 'contactez l’équipe de soutien à la clientèle' %} en lui indiquant quel est votre problème et quelles solutions vous avez déjà essayées.
   
### Un message indique que le code est invalide                                  

Si un message indique que le code à usage unique que vous avez entré est invalide, essayez ces étapes de dépannage :

#### 1. Assurez-vous d’avoir entré le code correctement
   - Les codes sont composés de six chiffres, vérifiez d’avoir entré ou copié votre code correctement.
                                       
#### 2. Assurez-vous d’avoir le bon code
   - Si vous avez demandé plusieurs codes, seul le code que vous avez reçu en dernier fonctionnera. Si vous demandez plusieurs codes et recevez plusieurs messages au même moment, il se peut que vous deviez essayer différents codes jusqu’à ce que l’un d’entre eux fonctionne. 
   - Si vous entrez le mauvais code à de trop nombreuses reprises, il se peut que votre compte soit temporairement verrouillé. Attendez 15 minutes et réessayez.
 
#### 3. Contactez l’équipe de soutien
   - Si aucune de ces solutions ne fonctionne, {% link links.contactFR 'contactez l’équipe de soutien à la clientèle' %} en lui indiquant quel est votre problème et quelles solutions vous avez déjà essayées.
                                             