.deployed_versions/test.json @cds-snc/canadalogin-static-website-test-deploy-approvers
.deployed_versions/staging.json @cds-snc/canadalogin-static-website-staging-deploy-approvers
.deployed_versions/prod.json @cds-snc/canadalogin-static-website-production-deploy-approvers
