<gcds-footer 
    display="full" 
    lang="{{locale}}"
    contextual-heading="{{ footer[locale].contextual.heading }}"
    contextual-links='{ 
    {# ------ Landing Page ------- #}    
    {% if page.url == "/en/" or page.url == "/fr/" %}
        {% if locale == "en" %}
            "GC Sign in Users": "{{ footer[locale].contextual.usersUrl }}",
            "GC Sign in Partners": "{{ footer[locale].contextual.partnersUrl }}"
        {% else %}
            "Utilisateurs et utilisatrices de Connexion GC": "{{ footer[locale].contextual.usersUrl }}",
            "Partenaires de Connexion GC": "{{ footer[locale].contextual.partnersUrl }}"
        {% endif %}

    {# ------ Users Page ------- #}    
    {% elif page.url | startsWith("/en/users/") or page.url | startsWith("/fr/users/")%}
        {% if locale == "en" %}
            "GC Sign in Users": "{{ footer[locale].contextual.usersUrl }}",
            "About GC Sign in": "{{ footer[locale].contextual.aboutUsersUrl }}",
            "Terms": "{{ footer[locale].contextual.termsUsersUrl }}"     
        {% else %}
            "Utilisateurs et utilisatrices de Connexion GC": "{{ footer[locale].contextual.usersUrl }}",
            "À propos de Connexion GC": "{{ footer[locale].contextual.aboutUsersUrl }}",
            "Avis": "{{ footer[locale].contextual.termsUsersUrl }}"    
        {% endif %}

    {# ------ Partners Page ------- #}    
    {% else %}
        {% if locale == "en" %}
            "GC Sign in Partners": "{{ footer[locale].contextual.partnersUrl }}",
            "Terms and Conditions": "{{ footer[locale].contextual.termsPartnersUrl }}",
            "Privacy":  "{{ footer[locale].contextual.privacyPartnersUrl }}"
        {% else %}
            "Partenaires de Connexion GC": "{{ footer[locale].contextual.partnersUrl }}",
            "Avis": "{{ footer[locale].contextual.termsPartnersUrl }}",
            "Confidentialité":  "{{ footer[locale].contextual.privacyPartnersUrl }}"
        {% endif %} 
    {% endif %}
    }'
sub-links='{ 
    "{{ footer[locale].sub.about }}": "{{ footer[locale].sub.aboutUrl }}", 
    "{{ footer[locale].sub.terms }}": "{{ footer[locale].sub.termsUrl }}",
    "{{ footer[locale].sub.privacy }}": "{{ footer[locale].sub.privacyUrl  }}"
}'>
</gcds-footer>
