<gcds-footer 
    display="full" 
    lang="{{locale}}"
    contextual-heading="{{ footer[locale].contextual.heading }}"
    contextual-links='{ 
    {# ------ Landing Page ------- #}    
    {% if page.url == "/en/" or page.url == "/fr/" %}
        {% if locale == "en" %}
            "CanadaLogin Users": "{{ footer[locale].contextual.usersUrl }}",
            "CanadaLogin Partners": "{{ footer[locale].contextual.partnersUrl }}"
        {% else %}
            "Utilisateurs et utilisatrices de Connexion GC": "{{ footer[locale].contextual.usersUrl }}",
            "Partenaires de Connexion GC": "{{ footer[locale].contextual.partnersUrl }}"
        {% endif %}

    {# ------ Users Page ------- #}    
    {% elif page.url | startsWith("/en/users/") or page.url | startsWith("/fr/utilisateurs/")%}
        {% if locale == "en" %}
            "CanadaLogin Users": "{{ footer[locale].contextual.usersUrl }}",
            "About CanadaLogin": "{{ footer[locale].contextual.aboutUsersUrl }}",
            "Contact us": "{{ footer[locale].contextual.contactUsersUrl }}"     
        {% else %}
            "Utilisateurs et utilisatrices de Connexion GC": "{{ footer[locale].contextual.usersUrl }}",
            "À propos de Connexion GC": "{{ footer[locale].contextual.aboutUsersUrl }}",
            "Nous contacter": "{{ footer[locale].contextual.contactUsersUrl }}"    
        {% endif %}

    {# ------ Partners Page ------- #}    
    {% else %}
        {% if locale == "en" %}
            "CanadaLogin Partners": "{{ footer[locale].contextual.partnersUrl }}",
            "About CanadaLogin": "{{ footer[locale].contextual.aboutPartnersUrl }}",
            "Contact us":  "{{ footer[locale].contextual.contactPartnersUrl }}"
        {% else %}
            "Partenaires de Connexion GC": "{{ footer[locale].contextual.partnersUrl }}",
            "À propos de Connexion GC": "{{ footer[locale].contextual.aboutPartnersUrl }}",
            "Nous contacter":  "{{ footer[locale].contextual.contactPartnersUrl }}"
        {% endif %} 
    {% endif %}
    }'
sub-links='{ 
    {# ------ Landing Page ------- #}    
    {% if page.url == "/en/" or page.url == "/fr/" %}
        "{{ footer[locale].sub.about }}": "{{ footer[locale].sub.aboutUrl }}", 
        "{{ footer[locale].sub.terms }}": "{{ footer[locale].sub.termsUrl }}",
        "{{ footer[locale].sub.privacy }}": "{{ footer[locale].sub.privacyUrl }}"

    {# ------ Users Page ------- #}    
    {% elif page.url | startsWith("/en/users/") or page.url | startsWith("/fr/utilisateurs/")%}
        "{{ footer[locale].sub.about }}": "{{ footer[locale].sub.aboutUrl }}", 
        "{{ footer[locale].sub.termsUsers }}": "{{ footer[locale].sub.termsUsersUrl }}",
        "{{ footer[locale].sub.privacyUsers }}": "{{ footer[locale].sub.privacyUsersUrl }}"

    {# ------ Partners Page ------- #}    
    {% else %}
        "{{ footer[locale].sub.about }}": "{{ footer[locale].sub.aboutUrl }}", 
        "{{ footer[locale].sub.termsPartners }}": "{{ footer[locale].sub.termsPartnersUrl }}",
        "{{ footer[locale].sub.privacyPartners }}": "{{ footer[locale].sub.privacyPartnersUrl }}"
    {% endif %}
}'>
</gcds-footer>
