<gcds-footer 
    display="full" 
    contextual-heading="GC Sign in" 
    contextual-links='{ 
    "GC Sign in Users": "{{ links.users }}", 
    "About GC Sign in": "{{ links.aboutgcsignin }}", 
    "Contact us": "{{ links.contact }}" 
    }'
sub-links='{ 
    "About Canada.ca": "{{ links.aboutcanadaca }}", 
    "Terms and conditions": "{{ links.termsandconditionspartners }}", 
    "Privacy": "{{ links.termsandprivacyusers }}" 
}'>
</gcds-footer>