<section>
    <div class="md:py-1250 py-900 hero">
        <div class="container-xl mx-auto">
        <article class="sm:py-750 py-450 xl:ps-0 sm:ps-600 ps-450 sm:pe-750 pe-300 bg-primary text-light hero__content">
            <h1>
            <span class="d-block">{{ hero.title }}</span>
            </h1>
            <p>{{ hero.summary }}</p>
        </article>
        </div>
    </div>
</section>
