<section class="section users--homepage">
    <div class="py-300 md:py-300 hero">
        <div class="container-lg mx-auto hero-flex">
        <article class="py-300 sm:py-450 ps-300 sm:ps-450 pe-300 sm:pe-450 bg-primary text-light float-left hero__content">
            {%if hero.title %}
                <h1 class="hero-title">
                    <span class="d-block">{{ hero.title }}</span>
                </h1>
            {% endif %}
            {% if hero.summary %}
                <p class="hero-summary">{{ hero.summary }}</p>
            {% endif %}
        </article>
        {% if hero.image %}

                <img 
                    src="{{ hero.image.src or hero.image }}" 
                    alt="{{hero.image.alt or hero.title}}"
                    class="hero-image"
                >

        {% endif %}
        </div>  
    </div>
</section>
