<section class="section users--homepage">
    <div class="md:py-450 py-900 hero">
        <div class="container-xl mx-auto hero-flex">
        <article class="sm:py-750 py-450 xl:ps-0 sm:ps-600 ps-450 sm:pe-750 pe-300 bg-primary text-light float-left hero__content">
            {%if hero.title %}
                <h1 class="hero-title">
                    <span class="d-block">{{ hero.title }}</span>
                </h1>
            {% endif %}
            {% if hero.summary %}
                <p class="hero-summary">{{ hero.summary }}</p>
            {% endif %}
        </article>
        {% if hero.image %}

                <img 
                    src="{{ hero.image.src or hero.image }}" 
                    alt="{{hero.image.alt or hero.title}}"
                    class="hero-image"
                >

        {% endif %}
        </div>  
    </div>
</section>
