<gcds-top-nav label="Top navigation" alignment="right" slot="menu">
    <gcds-nav-link href="/" slot="home">{{product_title}}</gcds-nav-link>
    <gcds-nav-link href="/about">Why {{product_title}}</gcds-nav-link>
    <gcds-nav-link href="/contact">Contact us</gcds-nav-link>
    <gcds-nav-link href="/blog">Blog Example</gcds-nav-link>

    <!-- <gcds-nav-group open-trigger="Features" menu-label="Features">
        <gcds-nav-link href="/about" current>Create reusable templates</gcds-nav-link>
        <gcds-nav-link href="#">Personalize messages</gcds-nav-link>
        <gcds-nav-link href="#">Schedule messages</gcds-nav-link>
        <gcds-nav-link href="#">Send messages automatically</gcds-nav-link>
    </gcds-nav-group> -->

</gcds-top-nav>