---
title: Problèmes de connexion avec la vérification en deux étapes
translationKey: problemssigninginwith2stepverification
layout: 'layouts/base.njk'
eleventyNavigation:
  key: problemsSigningInWith2StepVerificationFr
  title: Problèmes de connexion avec la vérification en deux étapes
  locale: fr
  parent: troubleSigningInFr
  order: 4
---

# Problèmes liés à la connexion avec la vérification en deux étapes

## Vous n'avez pas accès à votre téléphone

Si vous ne pouvez pas accéder au téléphone que vous utilisez pour la vérification en deux étapes, vous avez deux options pour accéder à votre compte en fonction du nombre de méthodes de vérification en deux étapes que vous avez configurées :

### Si vous avez plus d'un numéro de téléphone enregistré sur votre compte pour la vérification en deux étapes

Si vous n'avez plus accès au numéro de téléphone par défaut associé à votre compte, mais que vous avez plus d'un numéro de téléphone enregistré pour la vérification en deux étapes, suivez ces étapes pour vous connecter :

1. Sur la page de la vérification en deux étapes qui apparaît lors de la connexion, cliquez sur « Essayer d'une autre manière ».  
2. Sélectionnez un numéro de téléphone auquel vous avez actuellement accès.  
3. Un code de vérification à six chiffres sera envoyé par message texte ou appel vocal au numéro de téléphone que vous avez sélectionné. Entrez ce numéro de téléphone sur la page Web lorsque cela vous sera demandé.  
4. Après la connexion, vous pouvez vous rendre dans la section de gestion de votre compte Connexion GC pour {% linkRef links.manageyouraccount 'gerer-votre-compte' 'gérer les paramètres de votre compte' %}.

### Si vous n'avez qu'un seul numéro de téléphone enregistré sur votre compte pour la vérification en deux étapes

Si vous n'avez pas d'autre numéro enregistré sur votre compte, vous devez suivre ces étapes pour récupérer votre numéro de téléphone : 

#### Avant de commencer

* Vous devrez avoir accès à un numéro de téléphone distinct de celui qui est actuellement enregistré sur votre compte.  
* Ce numéro **ne remplacera pas** votre numéro de téléphone existant. Pour supprimer un numéro de téléphone existant, vous devrez vous rendre dans vos paramètres de sécurité après la connexion. Vous trouverez les instructions nécessaires à la fin de la section « Comment récupérer votre numéro de téléphone ».

#### Comment récupérer votre numéro de téléphone

1. Sur la page de la vérification en deux étapes qui apparaît lors de la connexion, cliquez sur « Je n'ai pas accès à mon téléphone ».  
2. Cherchez dans votre boîte de réception un courriel envoyé par « Connexion GC ». Ce courriel contiendra un code à usage unique de six chiffres.  
3. Entrez le code sur la page Web et sélectionnez « Continuer ».
  <gcds-notice type="info" notice-title-tag="h2" notice-title="Guides connexes">
    <gcds-text>{% linkRef links.issuesenterverifyemail 'vous-ne-trouvez-pas-le-code-a-usage-unique-dans-votre-boite-de-reception' 'Vous ne trouvez pas le code à usage unique dans votre boîte de réception' %}</gcds-text>
  </gcds-notice>
4. Entrez votre nouveau numéro de téléphone.   
5. Vous devrez vérifier votre nouveau numéro de téléphone. Sélectionnez la manière dont vous souhaitez recevoir le code de vérification à usage unique.  
6. Récupérez le code à usage unique, qui vous sera envoyé par le biais d'un message texte ou d'un appel vocal provenant de Connexion GC.
  <gcds-notice type="info" notice-title-tag="h2" notice-title="Guides connexes">
    <gcds-text>{% linkRef links.problemssigninginwith2stepverification '#vous-ne-recevez-pas-les-codes-de-verification-sur-votre-telephone' 'Vous ne recevez pas les codes de vérification sur votre téléphone' %}</gcds-text>
  </gcds-notice>
7. Entrez le code sur la page Web.  
8. Choisissez si vous souhaitez faire de ce numéro votre nouveau numéro de téléphone par défaut.   
   - Si vous choisissez d'en faire votre nouveau numéro par défaut, cela signifie simplement que vous recevrez vos codes à ce numéro lors de vos connexions. À chaque connexion, vous pourrez choisir un numéro différent parmi vos numéros enregistrés.  
9. Félicitations! Vous avez récupéré votre numéro de téléphone et la connexion a réussi. Votre redirection va être effectuée vers le programme ou service auquel vous cherchiez à accéder. Vous recevrez également un courriel vous informant du changement que vous venez de faire. Vous pouvez ignorer ce courriel.

#### Cette action ne remplace aucun des numéros existants sur votre compte

Pour supprimer des numéros de téléphone que vous ne voulez plus associer à votre compte, suivez notre guide {% linkRef links.manageyouraccount 'gerer-votre-compte' 'pour gérer votre compte' %}.

## Vous ne recevez pas les codes de vérification sur votre téléphone

Si vous ne recevez pas les codes de vérification sur votre téléphone, essayez les solutions suivantes :

- Si vous avez un téléphone mobile, assurez-vous que le mode avion est désactivé et que vous disposez d'une connexion cellulaire au service de votre fournisseur.  
- Il se peut que votre code ne vous parvienne pas immédiatement. Attendez jusqu'à 10 minutes ou cliquez sur « Demander un nouveau code » pour recevoir un nouveau code. Il se peut que vous deviez attendre quelques secondes avant que le lien permettant de demander un nouveau code apparaisse. Ce lien apparaîtra sous l'en-tête « Des problèmes avec votre code? », près du bas de la page.  
  Si vous demandez plusieurs codes, seul le code reçu en dernier fonctionnera. Si vous demandez plusieurs codes et recevez plusieurs messages au même moment, il se peut que vous deviez essayer différents codes.  
- Si vous ne recevez toujours pas de code et que vous n'avez aucun autre numéro de téléphone enregistré sur votre compte que vous pouvez utiliser pour la connexion, vous pourriez avoir à {% linkRef links.problemssigninginwith2stepverification '#comment-recuperer-votre-numero-de-telephone' 'récupérer votre numéro de téléphone' %}.
  <gcds-notice type="info" notice-title-tag="h2" notice-title="Guide connexes">
    <gcds-text>{% linkRef links.problemssigninginwith2stepverification '#si-vous-avez-plus-d-un-numero-de-telephone-enregistre-sur-votre-compte-pour-la-verification-en-deux-etapes' 'Comment vous connecter si vous avez plus d\'un numéro de téléphone enregistré sur votre compte pour la vérification en deux étapes' %}</gcds-text>
  </gcds-notice>
