---
title: Issues with setting up 2-step verification
translationKey: issuesSettingUp2Fa
layout: 'layouts/base.njk'
eleventyNavigation:
   key: issuesSettingUp2FaEn
   title: 2-step verification
   locale: en
   order: 2
   parent: troubleSigningUpEn
   hideMain: true
---

# Issues with setting up 2-step verification

- {% link '#it-says-your-phone-number-is-invalid' 'It says your phone number is invalid' %}
- {% link '#you-are-not-receiving-codes-to-your-phone' 'You are not receiving codes to your phone' %}
- {% link '#it-says-your-code-is-invalid' 'It says your code is invalid' %}

## Issues with registering text message / phone call verification
    
### It says your phone number is invalid
  
If you receive an error message telling you that your phone number is invalid, try the following troubleshooting steps:

1. <strong>Check that your phone number is correct</strong>
   - Make sure you entered the correct number with no typos or missing digits. 
   - Make sure you selected the correct country code from the dropdown menu (e.g., +1 for Canada and the United States).
                   
2. <strong>Check that your phone number works</strong>
   - Verify that the phone number is active and capable of receiving SMS or voice calls.
               
3. <strong>Check that your phone number is supported</strong>
   - Our service supports phone numbers from the countries found on this list:
     {% link links.supportedcountries 'Supported international phone numbers' %}.
   - If your phone number is from a country not on this list, signing in using Text Message or Voice is not possible. 
     You will not be able to create a GC Sign in account at this time, until more verification methods have been added.

4. <strong>Try using a different phone number if possible</strong>


5. <strong>Contact Support</strong>
   - If none of these steps work, {% link links.contact 'contact customer support' %} with your issue and tell them what steps you’ve tried already.
                     
### You are not receiving codes to your phone
             
If you’re not receiving your verification code via SMS (text) or phone call for GC Sign in, try these troubleshooting steps:

<br />

1. <strong>Check your phone number</strong>
   - Make sure you entered the correct number with no typos or missing digits.
   - Make sure you selected the correct country code from the dropdown menu (e.g., +1 for Canada and the United States).
   
2. <strong>Check your mobile signal</strong>Ensure you have a strong signal or switch to a different location.
   - Ensure you have a strong signal or switch to a different location.
   - Restart your phone to refresh the network connection.

3. <strong>Verify your message or call settings</strong>
   - Check your phone settings to see if messages or calls from unknown numbers are blocked.
   - Look for messages in your spam or filtered messages folder.
   
4. <strong>Wait a few minutes and try again</strong> 
   - Network delays can happen. If you requested multiple codes, use the most recent one. 
   - If the message or call doesn’t arrive, request a new code by selecting “Send the code again” under “Problems with the code?”. You may have to wait a few seconds for the link to appear.
                                       
5. <strong>Contact Support</strong>
   - If none of these steps work, {% link links.contact 'contact customer support' %} with your issue and tell them what steps you’ve tried already. 
   
### It says your code is invalid                                  

If it says your one-time code is invalid, try these troubleshooting steps:

<br />

1. <strong>Make sure you have entered the code correctly</strong>
    - Codes are 6-digits, double check that you entered or copied it correctly.
                                       
2. <strong>Make sure you have the right code</strong>
   - If you requested multiple codes, only the newest one-time code you receive will work. If you request and receive multiple messages at the same time, you may need to try more than one code until one works. 
   - If you enter the code incorrectly too many times, you may be temporarily locked out.
 
3. <strong>Contact Support</strong>
   - If none of these steps work, {% link links.contact 'contact customer support' %} with your issue and tell them what steps you’ve tried already.
                                             